<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MovieWeb App</title>
</head>
<body>
    <h1>Welcome to MovieWeb App!</h1>
    <div class="link-div">
    <a href="{{ url_for('list_users') }}">
        <button type="button">Go to user's list</button>
    </a>
    </div>
    <div class="link-div">
    <a href="{{ url_for('add_user') }}" display="inline">
        <button type="button">Add an user</button>
    </a>
    </div>
</body>
</html>